@font-face {
  font-family: "Museo";
  src: url(./MuseoModerno-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Museo";
  font-size: 25px;
}
header {
  height: 10vh;
  background-color: black;
  color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  background-color: grey;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-text {
  color: goldenrod;
}
.choice {
  background-color: grey;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  transform: translateX(60px);
}
.visible {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid goldenrod;
  margin-right: 10px;
  cursor: pointer;
}
.hidden {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}
.result {
  background-color: grey;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.result-text {
  color: goldenrod;
}
footer {
  height: 5vh;
  background-color: black;
}
